html {
  height: 100vh;
}

body {
  height: 100vh;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #181a1f;
  color: #abb2bf;
  overflow: hidden;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
