@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
  --rp-base: #191724;
  --rp-surface: #1f1d2e;
  --rp-overlay: #26233a;
  --rp-muted: #6e6a86;
  --rp-subtle: #908caa;
  --rp-text: #e0def4;
  --rp-love: #eb6f92;
  --rp-gold: #f6c177;
  --rp-rose: #ebbcba;
  --rp-pine: #31748f;
  --rp-foam: #9ccfd8;
  --rp-iris: #c4a7e7;
  --rp-hl-low: #21202e;
  --rp-hl-med: #403d52;
  --rp-hl-high: #524f67;

  --font-sans: "Geist", sans-serif;
  --font-serif: serif;

  /* utopia.fyi/type/calculator */
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);

  /* utopia.fyi/space/calculator */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4432rem + 1.3636vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.1847rem + 0.5682vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4091rem + 0.6818vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7216rem + 0.6818vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8182rem + 1.3636vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.3551rem + 1.4773vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.6364rem + 2.7273vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.7102rem + 2.9545vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.2727rem + 5.4545vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.5625rem + 2.5vw, 2.5rem);
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: var(--rp-base);
  color: var(--rp-text);

  font-family: var(--font-sans);
  font-size: var(--step-0);

  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  min-width: 360px;
  max-width: 1240px;

  border-left: var(--space-s-l) solid transparent;
  border-right: var(--space-s-l) solid transparent;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logotype {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: var(--space-2xs-xs);
}

#logotype > h2 {
  font-size: var(--step-1);
}

@media (max-width: 720px) {
  #logotype > h2 {
    display: none;
  }
}

.icon {
  font-size: var(--step-2);
}

header > nav > ul {
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-s-m);

  height: 100%;
}

header > nav > ul > li > a {
  text-decoration: none;
  font-weight: 500;
  color: var(--rp-subtle);
  transition: color 200ms;
}

header > nav > ul > li > a:hover {
  color: var(--rp-text);
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--space-s-m);
}

#bio > h1 {
  text-align: center;
  font-size: var(--step-5);
  font-weight: 800;
  color: var(--rp-foam);
  line-height: 1.05;

  margin: var(--space-s-l) 0;
}

#bio > p {
  color: var(--rp-subtle);
  font-weight: 600;
}

hr {
  color: var(--rp-hl-med);
}

h2 {
  font-size: var(--step-3);
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--space-s-l);
}

#projects > article {
  background-color: var(--rp-hl-low);
  padding: var(--space-s);
  border-radius: var(--step-0);
}

#projects > article > a {
  text-decoration: none;
  color: inherit;

  display: flex;
  flex-direction: column;
  gap: var(--space-2xs-xs);

  height: 100%;
}

#projects > article > a > h3 {
  transition: color 250ms;
}

#projects > article > a:hover > h3 {
  color: var(--rp-text);
}

.spacer {
  flex-grow: 1;
}

#projects > article > a > h3 {
  color: var(--rp-subtle);
  font-size: var(--step-1);
}

#projects > article > a > p {
  font-weight: 500;
}

#projects > article > a > ul {
  list-style: none;
  font-size: var(--step-1);
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: var(--space-3xs);
}

a {
  color: inherit;
  text-decoration: none;
}

#contact > ul {
  list-style: none;

  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: var(--space-3xs);
  row-gap: var(--space-s-l);
}

#contact > ul > li {
  font-size: var(--step--2);
  color: var(--rp-subtle);
  transition: color 250ms;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#contact > ul > li:hover {
  color: var(--rp-text);
}

#contact > ul > li > i {
  margin-right: var(--space-3xs);
}

#contact > ul > li > p > span {
  display: inline-block;
}

footer {
  margin: var(--space-l-xl) 0;
  text-align: center;
}

footer > p > .nf-dev-html5 {
  color: orangered;
}

footer > p > .nf-dev-css3 {
  color: deepskyblue;
}

footer > p > .nf-dev-javascript {
  color: yellow;
}

.nf-fa-heart {
  color: red;
}
